* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.main_all {
    width: 100%;
    display: flex;
    justify-content: center;
}




.main2 {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 2rem;
    padding: 1.5rem;

    background-color: steelblue;
    color: #fff;
}


.img-div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.main-right {
    width: 70%;
    margin-top: 5rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.haeding {
    border-bottom: 1px solid #fff;
    display: inline-block;
    padding-bottom: 8px;
    font-size: 16px;
}


.haeding2 {
    width: 100%;
    background-color: lightgray;
    text-align: center;
    font-size: 32px;
    padding: 5rem;
}

.haeding3 {
    border-bottom: 1px solid black;
    display: inline-block;
    padding-bottom: 8px;
    font-size: 16px;
}

.line {
    width: 10%;
    border-bottom: 3px solid black;
    display: inline-block;
}

.profile {
    margin-left: 2rem;
    display: inline-block;
    padding-bottom: 8px;
}

.main-det {
    width: 60%;
    display: flex;
    justify-content: space-between;

}

.color {
    color: gray;
}

.lastdiv {
    padding-bottom: 3rem;
}



/* card css */

.main_card {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
}

.haeding23 {
    text-align: center;
}

.top_haed {
    text-align: center;
}

.card {
    width: 30%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.container_head {
    width: 100%;
    background-color: steelblue;
    color: #fff;
}

.todo_img {
    width: 100%;
}

.descrip {
    text-align: center;
}

.btn_container {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 20px;
}

.btn2 {
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    background-color: black;
    color: #fff;

}

.btn2>a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}

a:hover {
    cursor: pointer;
}

.descriptext {
    text-align: center;
    padding: 10px;
}