* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.main_all {
    width: 100%;
    display: flex;
    justify-content: center;
}




.main2 {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 2rem;
    padding: 1.5rem;

    background-color: steelblue;
    color: #fff;
}



.img-div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.main-right {
    width: 70%;
    margin-top: 5rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

.haeding {
    border-bottom: 1px solid #fff;
    display: inline-block;
    padding-bottom: 8px;
}


.haeding2 {
    width: 100%;
    background-color: lightgray;
    text-align: center;
    font-size: 32px;
    padding: 5rem;
}

.haeding3 {
    border-bottom: 1px solid black;
    display: inline-block;
    padding-bottom: 8px;
}

.line {
    width: 10%;
    border-bottom: 3px solid black;
    display: inline-block;
}

.profile {
    margin-left: 2rem;
    display: inline-block;
    padding-bottom: 8px;
}

.main-det {
    width: 60%;
    display: flex;
    justify-content: space-between;

}

.color {
    color: gray;
}

.lastdiv {
    padding-bottom: 3rem;
}